.HeadStyle {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
}
.SecondStyle {
  background-color: rgb(171, 163, 163);
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}
.SecondStyle_1 {
  align-items: center;
  display: flex;
  gap: 20px;
}
.SecondStyle-label {
  font-size: 16px;
  font-weight: 700;
}
.todo-box {
  border: 4px solid rgb(96, 171, 171);
  border-radius: 20px;
  padding: 24px 24px 24px;
  width: 300px;
}
